@font-face{
    font-family: Habanera;
    src: url("../assets/fonts/Habanera-Regular.otf") format("truetype");
}
@font-face{
    font-family: Habanera;
    src: url("../assets/fonts/Habanera-Bold.otf") format("truetype");
}
@font-face{
    font-family: Habanera;
    src: url("../assets/fonts/Habanera-Medium.otf") format("truetype");
}
@font-face{
    font-family: Habanera;
    src: url("../assets/fonts/Habanera-Light.otf") format("truetype");
}
@font-face{
    font-family: Habanera;
    src: url("../assets/fonts/Habanera-ExtraBold.otf") format("truetype");
}
@font-face{
    font-family: Habanera;
    src: url("../assets/fonts/Habanera-LightItalic.otf") format("truetype");
}



